/* Add CSS Styling */
.odd {
    background-color: rgb(247, 170, 183);
    font-family: "Verdana", "DejaVu Sans", "Sans Serif";
    }

#id1 {
    color: rgb(27, 27, 218);
    font-size: 36px;
    }

#id2 {
    background-color:rgb(135, 218, 135);
    font-size: 24px;
    font-weight: bold;
    }